# Post mortem debugging
post-mortem-debugging/*
!post-mortem-debugging/main.c
!post-mortem-debugging/README.md

# D to Ruby FFI
d-to-ruby-ffi/*.so
d-to-ruby-ffi/*.o

# Bytecode OS
bytecode-os/Boot_programming/bootloader/build
bytecode-os/Boot_programming/bootloader/*.iso
bytecode-os/Boot_programming/bootloader/*.img
bytecode-os/Boot_programming/bootloader/*.bin
bytecode-os/*.o
bytecode-os/dist

# Black noise generator
black-noise-generator/.dub
black-noise-generator/docs.json
black-noise-generator/__dummy.html
black-noise-generator/docs/
black-noise-generator/tivoli-service
black-noise-generator/tivoli-service.so
black-noise-generator/tivoli-service.dylib
black-noise-generator/tivoli-service.dll
black-noise-generator/tivoli-service.a
black-noise-generator/tivoli-service.lib
black-noise-generator/tivoli-service-test-*
black-noise-generator/*.exe
black-noise-generator/*.o
black-noise-generator/*.obj
black-noise-generator/*.lst

